<div class="container">
    <navbar></navbar>
    <div class="container-fluid p-5">
        <div class="row">
          <div class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="Username" [(ngModel)]="info.username">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="password" placeholder="Password" [(ngModel)]="info.password">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="Name" [(ngModel)]="info.name">
            </mat-form-field>
          </div>
          <button *ngIf="!this.info.dealers" class="btn btn-circle btn-primary ml-5" (click)="register()">
            <i class="mdi mdi-check"></i>
          </button>
        </div>

        <div *ngIf="this.info.dealers">
          <div class="row pt-5" >
              <button class="btn btn-primary" (click)="dealerAdd = !dealerAdd">
                Add new
                <i class="mdi mdi-asterisk"></i>
              </button>
              <button class="btn btn-primary ml-5" (click)="chooseExisting()">
                  Add exiting
                  <i class="mdi mdi-all-inclusive"></i>
              </button>
          </div>

          <div class="row pt-5" *ngIf="dealerAdd">
              <div class="example-form">
                <mat-form-field class="example-full-width">
                    <input [(ngModel)]="sqlname" matInput type="text" placeholder="Dealer name">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="sqlserver" matInput type="text" placeholder="SQL Server">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="sqlusername" matInput type="text" placeholder="SQL Username">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="sqlpassword" matInput type="password" placeholder="SQL Password">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="sqldatabase" matInput type="text" placeholder="SQL Database">
                </mat-form-field>
              </div>
              <button (click)="addDealer()" class="btn btn-circle btn-primary">
                <i class="mdi mdi-plus"></i>
              </button>
          </div>
          <div class="row pt-5">
              <table class="table">
                  <thead>
                    <tr style="background:#e4e8ea">
                      <th><i class="mdi mdi-fingerprint"></i> ID</th>
                      <th><i class="mdi mdi-account-circle"></i> Name</th>
                      <th><i class="mdi mdi-code-tags"></i> SQL Ip</th>
                      <th><i class="mdi mdi-code-tags"></i> SQL Username</th>
                      <th><i class="mdi mdi-code-tags"></i> SQL Password</th>
                      <th><i class="mdi mdi-code-tags"></i> SQL Database</th>
                      <th style="text-align:center"><i class="mdi mdi-dots-vertical"></i></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let dealer of info.dealers">
                      <th scope="row" class="hidden-xs hidden-sm">{{ dealer._id }}</th>
                      <td>{{ dealer.name }}</td>
                      <td>{{ dealer.connection.server }}</td>
                      <td>{{ dealer.connection.user }}</td>
                      <td>{{ dealer.connection.password }}</td>
                      <td>{{ dealer.connection.database }}</td>
                      <th>
                        <button (click)="excludeDealer(dealer)"  class="btn btn-danger btn-circle">
                          <i class="mdi mdi-call-split"></i>
                        </button>
                        <button routerLink="/dealers/{{dealer._id}}/edit" class="btn btn-success btn-circle">
                            <i class="mdi mdi-table-edit"></i>
                        </button>
                      </th>
                    </tr>

                    <tr>

                    </tr>
            
                  </tbody>
                </table>
      
          </div>
        </div>
    </div>
</div>


