<div class="container">
  <navbar></navbar>
  <div class="container-fluid p-5">

    <div class="row">
      <div class="controls col-md-12">
        <button routerLink="/users/add" class="btn btn-primary btn-circle btn-xs float-right">
          <i class="mdi mdi-account-plus"></i>
        </button>
      </div>
    </div>

    <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Username</th>
              <th>Password</th>
              <th>Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <th scope="row">{{ user._id }}</th>
              <td>{{ user.username }}</td>
              <td>{{ user.password }}</td>
              <td>{{ user.name }}</td>
              <th>
                <button (click)="deleteUser(user)"  class="btn btn-danger btn-circle">
                  <i class="mdi mdi-delete"></i>
                </button>
                <button routerLink="/users/{{user._id}}/edit" class="btn btn-success btn-circle">
                    <i class="mdi mdi-table-edit"></i>
                </button>
              </th>
            </tr>
    
          </tbody>
        </table>
    </div>
    
  </div>
</div>