<div class="container">
  
  <div class="row">

    <div class="col-md-5 offset-md-3 mt-5">
      <div class="card">
        <div class="card-block">
          <form class="form">
            <div class="form-group">
              <input class="form-control" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" type="password">
            </div>
          </form>
          <button routerLink="/dashboard" class="btn btn-rounded btn-primary">
            Login 
            <i class="mdi mdi-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>

  </div>

</div>