<h2 mat-dialog-title>{{ data.title}}</h2>
<mat-dialog-content>
    <mat-list>
      <mat-list-item *ngFor="let dealer of dealers">
          <mat-slide-toggle [(ngModel)]="dealer.selected">{{ dealer.name }}</mat-slide-toggle>
      </mat-list-item>
    </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button mat-button (click)="finish()">Add selected items</button>
</mat-dialog-actions>