<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>{{ message }}</mat-dialog-content>
<mat-dialog-actions *ngIf="!data.alert">
  <button mat-button mat-dialog-close>No</button>
  <button mat-button [mat-dialog-close]="true">Yes</button>
</mat-dialog-actions>
<mat-dialog-actions *ngIf="data.alert">
    <button mat-button mat-dialog-close>OK</button>
  </mat-dialog-actions>