@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
    font-family: 'Quicksand', sans-serif;
}


.btn-circle {
    padding: 0 !important;
    height: 35px;
    width: 35px;
    border-radius: 50% !important;
}

.container .container-fluid{
    background: #eceeef;
    min-height: 500px;
}