<div class="container">
  <navbar></navbar>
  <div class="container-fluid p-5">
      <div class="row" *ngIf="info.name">
        <div class="example-form">
          <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="Name" [(ngModel)]="info.name">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="SQL Server" [(ngModel)]="info.connection.server">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="SQL Username" [(ngModel)]="info.connection.user">
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <input matInput type="password" placeholder="SQL Password" [(ngModel)]="info.connection.password">
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="SQL Database" [(ngModel)]="info.connection.database">
          </mat-form-field>
        </div>
        <button class="btn btn-sm btn-xs btn-md btn-primary ml-1" (click)="updateInfo()">
          Update
          <i class="mdi mdi-check"></i>
        </button>
      </div>
  </div>
</div>


